@using DamaCoreCMS.Core.Modules.Setup.Models.ViewModels
@model SetupViewModel

@{
    Title = "DamaCoreCMS Setup Successful";
    Layout = "_SimpleLayout";
}

<div class="page-header text-center">
    <h1>DamaCoreCMS Setup Successful</h1>
    <hr />
    <h2>Please restart and enjoy <strong>DamaCoreCMS</strong></h2> 
</div>       
        
    